#root{
  width: 100%;
}

*{
  box-sizing: border-box;
}

.main-content{
  min-height: 100vh;
  padding: 0 40px;
  
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;

}


@media(max-width: 500px){
  .main-content{
    min-height: 100vh;
    padding: 0 20px;
    
  }
}

